@{
    bsuc.common.Model.Bsuc_Protal_Category cate = ViewBag.cate;
    }
<form class="layui-form" action="Edit" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label"><i>*</i>标签名</label>
        <div class="layui-input-inline">
            <input type="text" name="catname" required placeholder="请输入标签名"
                autocomplete="off" value="@Html.DisplayFor(model=>cate.catname)" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><i>*</i>标签描述</label>
        <div class="layui-input-inline">
            <input type="text" name="description" required placeholder="请输入标签描述"
                autocomplete="off" value="@Html.DisplayFor(model=>cate.description)" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <input name="id" value="@Html.DisplayFor(model=>cate.id)" type="hidden"/>
            <button class="layui-btn" lay-filter="cateEdit" lay-submit>立即提交</button>
            <button class="layui-btn layui-btn-primary" type="reset">重置</button>
        </div>
    </div>
</form>
<script type="text/javascript">
    layui.define('form', function (exports) {
        var $ = layui.jquery, layer = layui.layer, form = layui.form;
        form.on('submit(cateEdit)', function (data) {
            var _form = $(this).parents('form');
            layer.msg('数据提交中...', { time: 500000 });
            $.ajax({
                type: "POST",
                url: _form.attr('action'),
                dataType: 'json',
                data: _form.serialize(),
                success: function (res) {
                    console.log(res);
                    layer.msg(res.msg, {}, function () {
                        if (res.code == 1) {
                            if (typeof (res.url) != 'undefined' && res.url != null && res.url != '') {
                                location.href = res.url;
                            } else {
                                location.reload();
                            }
                        } else {
                            location.reload();
                        }
                    });
                }
            });
            return false;
        });
    });
</script>
