@{
    ViewBag.Title = "kxyj";
}
@Scripts.Render("~/static/index/js/dynclicks.js")

<div class="bannerT">
    <div class="bannerT">
    	<img class="imgfull" src="~/static/index/images/bannerT.jpg"   alt="">
    </div>
</div>
<div class="box-main container mlra">
    <div class="left_nav">
        <div class="column_name">
             <h4>新闻中心<span class="songti pl10"></span></h4>
        </div>
            <ul>
                <li class="active"><a href="kxyj.htm"   title="科学研究">科学研究</a></li>
            </ul>
        </div>
    <div class="right_main">
        <div class="menu-name pr">
            <h3>科学研究</h3>
                <div class="position">当前位置: 
                                        <a href="index-1.htm"  >首页</a>
                                >>
                                <a href="kxyj.htm"  >科学研究</a>
                </div>
            </div>        
        <script  src="~/static/index/js/statpagedown.js"  ></script>
     <div class="box-list">
        <ul>
		    <li class="oh" id="line_u10_0">
	             <a href="36788.htm"   target="_blank" title="我校获5项广西本科高校特色专业及实验实训教学基地（中心）建设项目立项" class="news-title">我校获5项广西本科高校特色专业及实验实训教学基地（中心）建设项目立项</a>
	                <div class="oh">
		                <div class="fl box-icon">
			            <svg class="icon">
			                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-icon-test"></use>
			            </svg>
		                </div>
		                <div class="fl box-txt box-txt-full">
			            <p>据自治区教育厅《关于公布2018—2020年广西本科高校特色专业及实验实训教学基地（中心）建设项目名单的通知》（桂教高教【2018】52号），我校获5项广西本科高校特色专业及实验实训教学基地（中心）建设项目立项，项目资助资金总额为4800万（建设期三年）。具体立项项目如下表：​序号特色专业名称所属一级学科预计资助经费总额（万元）备注1设施农业科学与工程作物学1000​2电子信息工程电子科学与技术1000​3工程管理管理科学...<a href="36788.htm"  >【查看详情】</a></p>
			            <p class="time">发表时间：2018-09-19</p>
		                </div>
	                </div>
	        </li>	
        </ul>
@*    <div class="pageId text-center">
	<p><INPUT TYPE="hidden" NAME="actiontype" VALUE=""><input type="hidden" name="_scode_" value="1541753846158"><input type="hidden" name="urltype" value="tree.TreeTempUrl"><input type="hidden" name="wbtreeid" value="1215"><input type="hidden" name="outFlag" value="false">
<style type="text/css">
.headStyle1tz5n9ekfv, .headStyle1tz5n9ekfv td, .headStyle1tz5n9ekfv div {font-size: 12px;font-family:宋体; color: #000000; margin-left: auto; margin-right: auto; line-height:14px;}
.defaultButtonStyle {font-size: 12px;font-family:宋体; height:20px;color: #000000;BORDER: #AFD5F5 1px solid; margin: 0px;padding: 0px; FILTER:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#ffffff, EndColorStr=#BDDBF7);  CURSOR: pointer; line-height:14px;background:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#BDDBF7));background: -moz-linear-gradient( top,#ffffff,#BDDBF7);background:-ms-linear-gradient(top,#ffffff 0%,#bddbf7 100%);}
.defaultinputStyle {font-size: 12px;font-family:宋体; height:20px; border:1px solid #AFD5F5; line-height:14px;}
.colHeader {font-size: 12px;font-family:宋体; line-height:14px;}
.headStyle1tz5n9ekfv a, .pageList .this-page {font-size: 12px;font-family:宋体; display:inline-block; height:14px; padding: 2px 4px; border: solid 1px #AFD5F5; background: #fff; text-decoration: none; MARGIN-RIGHT: 1px;line-height:14px;}
.headStyle1tz5n9ekfv a:visited {font-size: 12px;font-family:宋体; color: #000000; text-decoration: none; line-height:14px;}
.headStyle1tz5n9ekfv .PrevDisabled {font-size: 12px;font-family:宋体; display:inline-block;height:14px;  margin-right: 3px; padding: 2px 4px; background: #fff;color:#ccc;border: solid 1px #AFD5F5; line-height:14px;}
.headStyle1tz5n9ekfv .SelectList {font-size: 12px;font-family:宋体;line-height:14px;}
.headStyle1tz5n9ekfv .Prev { font-size: 12px;font-family:宋体; margin-right: 3px; padding: 2px 4px;line-height:14px;}
.headStyle1tz5n9ekfv .break {font-size: 12px;font-family:宋体; border: none; text-decoration: none; line-height:14px;}
.headStyle1tz5n9ekfv .NextDisabled { font-size: 12px;font-family:宋体;display:inline-block; height:14px; margin-left: 2px; padding: 2px 4px;background: #fff;color:#ccc;border: solid 1px #AFD5F5; line-height:14px;}
.headStyle1tz5n9ekfv .Next { font-size: 12px;font-family:宋体; margin-left: 2px; padding: 2px 4px;line-height:14px;}
.headStyle1tz5n9ekfv .this-page {font-size: 12px;font-family:宋体;display:inline-block;height:14px;padding: 2px 4px; border: solid 1px #AFD5F5; background: #E1F0FD; font-weight: bold; color:black; MARGIN-RIGHT: 1px;line-height:14px;}
.headStyle1tz5n9ekfv a:hover {font-size: 12px;font-family:宋体;color: black; background: #EFF7FE; border-color: #AFD5F5; text-decoration: none;line-height:14px;}
.headStyle1tz5n9ekfv a:link {font-size: 12px;font-family:宋体;color: #000000; text-decoration: none;line-height:14px;}
.headStyle1tz5n9ekfv a:active { font-size: 12px;font-family:宋体;color: black; text-decoration: none; background: #EFF7FE; line-height:14px;}
</style>
        <script src="~/static/index/js/gotopage.js"  ></script><script type="text/javascript">function a190576_gopage_fun(){_simple_list_gotopage_fun(19,'a190576GOPAGE',2)}</script><table cellspacing="0" cellpadding="0" border="0"><TR><td colspan="0"><table cellspacing="0" class="headStyle1tz5n9ekfv" width="100%" cellpadding="1"><tr valign="middle"><TD nowrap align="left" width="1%" id="fanye190576">共151条&nbsp;&nbsp;1/19&nbsp;</td><td nowrap align="left"><div><span class="PrevDisabled">首页</span><span class="PrevDisabled">上页</span><a href="18.htm"   class="Next">下页</a><a href="#"   class="Next">尾页</a>&nbsp;&nbsp;<input align="absmiddle" type="button" class="defaultButtonStyle" id="gotopagebut" name="a190576Find" value="转到" onclick="javascript:a190576_gopage_fun()"><INPUT size="2" align="absmiddle" class="defaultInputStyle" NAME="a190576GOPAGE" id="a190576GOPAGE" VALUE="" style="margin-left:1px;margin-right:1px">页</div></td></tr></table></table></p>
    </div>*@
        <br /><br />
        </div>
        <script>_showDynClickBatch(['dynclicks_u10_36788','dynclicks_u10_28582','dynclicks_u10_28581','dynclicks_u10_28580','dynclicks_u10_28579','dynclicks_u10_28578','dynclicks_u10_28577','dynclicks_u10_28576'],[36788,28582,28581,28580,28579,28578,28577,28576],"wbnews", 1445304395)</script>
    </div>
</div>
