
@Scripts.Render("~/static/index/js/dynclicks.js")
<div class="bannerT">
    <div class="bannerT">
    	<img class="imgfull" src="~/static/index/images/bannerT.jpg"   alt="">
    </div>
</div>
<div class="box-main container mlra">
  <div class="page-centent text-left">
    <div class="menu-name pr">
      <div class="this-place txtleft">
        <p>当前位置: 
                        <a href="~/home/index" >首页</a>
                >>
                正文
</p>
      </div>
    </div>
  </div>
  <div class="left_nav">
    <div class="column_name">
      <h4>新闻中心<span class="songti pl10"></span></h4>
    </div>
    <ul>
            <li><a href="xxyw1.htm"  title="学校要闻">学校要闻</a></li>
            <li><a href="bmdt.htm"  title="部门动态">部门动态</a></li>
            <li><a href="zbxx.htm"  title="招标信息">招标信息</a></li>
            <li><a href="ztbd.htm"  title="专题报道">专题报道</a></li>
            <li><a href="mtby.htm"  title="媒体百院">媒体百院</a></li>
            <li><a href="ztlm.htm"  title="专题栏目">专题栏目</a></li>
            <li><a href="kxyj.htm"  title="科学研究">科学研究</a></li>
        </ul>
</div>
 <div class="right_main">
<div class="box-centent">
            <div class="title">
                <h3>领导干部任前公示</h3>
                <div class="news-msg text-center" style="text-align: center;">
                    <span>来源：</span>
                    <span>编辑：zzb</span>
                    <span>作者：党委组织部</span>
                    <span>发布时间：2018-11-02 11:09:19</span>
                    <span>浏览量：<script>_showDynClicks("wbnews", 1445304395, 42557)</script></span>
                </div>
            </div>
	    <div style="border-bottom:1px solid #e8e8e8;margin-top: 10px;"></div>
 <div class="con-txt" id="vsb_content">

 </div>
    <div id="div_vote_id"></div>
                <div class="fn oh">
                <div class="fl colse">
                    <span>
                        <svg class="icon" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-guanbi3"></use>
                        </svg>
                    </span>
                    <a href="javascript:void();" onclick="window.opener=null;window.open('','_self');window.close();">关闭</a>
                </div>
                <div class="fr">
                    <div class="top0 fr" id="top0">
                            <span>
                                <svg class="icon" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-fanhuidingbu2"></use>
                                </svg>
                            </span>
                        <a href="javascript:;">返回顶部</a>
                    </div>
                    <div class="Print fr pr24" id="Print">
                            <span>
                                <svg class="icon" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-print"></use>
                                </svg>
                            </span>
                        <a href="javascript:;">打印</a>
                    </div>
                </div>
            </div>
            <ul class="page pt20">
            <li class="mb15 fs16 lh1">上一条：<a class="fs16 lh1" href="42583.htm" >百色学院招聘金属粉体材料研究所工作人员的启事</a></li>
            <li class="fs16 lh1">下一条：<a class="fs16 lh1" href="37076.htm" >干部试用期满考核预告</a></li>
            </ul>
	<br /><br />
        </div>
        </form></div>
</div>