@{
    ViewBag.Title = "xxgk";
}
<div class="bannerT">
    <div class="bannerT">
    	<img class="imgfull" src="~/static/index/images/bannerT.jpg"   alt="">
    </div>
</div>

<div class="box-main container mlra">
    <div class="page-centent text-left">
        <div class="menu-name pr">
            <div class="this-place txtleft">
                <p>当前位置: 
                                        <a href="index-1.htm"  >首页</a>
                                >>
                                <a href="xxgk.htm"  >学校概况</a>
                </p>
            </div>           
        </div>
    </div>
        <div class="left_nav">
            <div class="column_name">
                 <h4>学校概况<span class="songti pl10"></span></h4>
            </div>
            <ul>
                 <li><a href="xxjj.htm"   title="学校简介">学校简介</a></li>
            </ul>
        </div>
    <div class="right_main">
        <script src="~/static/index/js/ajax.js"  ></script>
            <script>function seeContenta9(contentid,size,displayid){	document.getElementById(contentid).innerHTML = '[';	for(var i=0;i<=size;i++){		var allcontentid = contentid+(i+1);		if(allcontentid==displayid){			document.getElementById(contentid).innerHTML += " <span id='"+allcontentid+"' name='"+allcontentid+"'  >"+(i+1)+"</span> ";			document.getElementById(displayid).style.display = 'block';		}else{			document.getElementById(contentid).innerHTML += " <span style='cursor:pointer' id='"+allcontentid+"' name='"+allcontentid+"' onclick=seeContenta9('"+contentid+"','"+size+"','"+allcontentid+"')  >"+(i+1)+"</span> ";			document.getElementById(allcontentid).style.display = 'none';		}	}	document.getElementById(contentid).innerHTML += ']';}</script>
                <script>_addDynClicks('wbnews',1445304395,36918)</script>
            <div class="box-odd">
                <div class="title text-center">
                    <h3 class="txtcenter">学校简介</h3>
                    <div style="border-bottom:1px solid #e8e8e8;margin-top: 10px;"></div>
                </div>
                <div class="box-odd-txt pt20">
                    <p>这里填写内容</p>
                </div>
           </div>
        <span id="vsb_content_36918_u9"></span><br /><br />
            <div class="fn oh">
              <div class="fl colse"> <span>
                <svg class="icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-guanbi3"></use>
                </svg>
              </span> <a href="javascript:window.close();">关闭</a> </div>
              <div id="top0" class="fl">
                <div class="top0 fr"> <span>
                  <svg class="icon" >
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-fanhuidingbu2"></use>
                  </svg>
                </span> <a href="javascript:;">返回顶部</a> </div>
                <div class="Print fr pr24" id="Print"> <span>
                  <svg class="icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-print"></use>
                  </svg>
                </span> <a href="javascript:window.print();">打印</a> </div>
              </div>
            </div>  
           <br /><br />
    </div>
</div>