@{
    var natnameA = ViewBag.natnameA as IEnumerable<bsuc.common.Model.Bsuc_Protal_Category>;//科学研究
    ViewBag.Title = "xxyw";
}

<div class="box-main container mlra">
  <div class="left_nav">
    <div class="column_name">
      <h4>新闻中心<span class="songti pl10"></span></h4>
    </div>
      @foreach(var item in natnameA)
      {
    <ul>
            <li class="active"><a href="~/home/xxyw"  title="@Html.DisplayFor( n => item.catname)">@Html.DisplayFor( n => item.catname)</a></li>
          @*  <li><a href="~/home/kxyj"  title="科学研究">科学研究</a></li>*@
        </ul>
      }
</div>
  <div class="right_main">
    <div class="menu-name pr">
      <h3>学校要闻</h3>
      <div class="position">当前位置: 
                        <a href="~/home/index" >首页</a>
                >>
                <a href="~/home/xxyw" >学校要闻</a>
</div>
    </div>
    <div class="box-list">

<script src="~/static/index/js/statpagedown.js" ></script><ul id="news-title-img-icon"> 
                <li id="line_u10_0" class="oh">
                    <a href="42453.htm"  class="news-title" target="_blank">弘扬高尚师德，潜心立德树人——在百色学院庆祝第34个教师节暨表彰大会上的讲话</a>
                    <div class="fl box-img">
                        <a href="42453.htm"  target="_blank" title="弘扬高尚师德，潜心立德树人——在百色学院庆祝第34个教师节暨表彰大会上的讲话" style="font-weight:bold;color:#f20a25;"><img class="imgfull" ></a>
                    </div>
                    <div class="fl box-txt">
                        <p>弘扬高尚师德，潜心立德树人——在百色学院庆祝第34个教师节暨表彰大会上的讲话 百色学院党委书记　唐拥军（2018年9月7日） 尊敬的各位老师、同学们：下午好!再过三天，就是第34个教师节，今天，我们共聚一堂，表彰先进、共庆佳节。我谨代表学校党委、行政，向长期以来在各个岗位上默默耕耘，为学校的建设发展做出贡献的老师们致以诚挚的问候和节日的祝福！今天，前来参加会议的有我们2018年新入职的69名教职工，他们中既有来自...<a href="42453.htm" >【查看详情】</a></p>
                        <p>发表时间：2018-09-08</p>
                    </div>
                </li>

            </ul>

 <div class="pageId text-center" align="center">
               <p><link rel="stylesheet" Content-type="text/css" href="sys.css" ><div class="pb_sys_common pb_sys_normal pb_sys_style1" style="margin-top:10px;text-align:center;"><span class="p_pages"><span class="p_first_d p_fun_d">首页</span><span class="p_prev_d p_fun_d">上页</span><span class="p_no_d">1</span><span class="p_no"><a href="516.htm" >2</a></span><span class="p_no"><a href="515.htm" >3</a></span><span class="p_no"><a href="514.htm" >4</a></span><span class="p_no"><a href="513.htm" >5</a></span><span class="p_dot">...</span><span class="p_no"><a href="1.htm" >517</a></span><span class="p_next p_fun"><a href="516.htm" >下页</a></span><span class="p_last p_fun"><a href="1.htm" >尾页</a></span></span></div></p>
            </div>
<br><script>_showDynClickBatch(['dynclicks_u10_42453','dynclicks_u10_42597','dynclicks_u10_42592','dynclicks_u10_42594','dynclicks_u10_42599','dynclicks_u10_42578','dynclicks_u10_42598','dynclicks_u10_42572','dynclicks_u10_42571','dynclicks_u10_42570'],[42453,42597,42592,42594,42599,42578,42598,42572,42571,42570],"wbnews", 1445304395)</script></div>
  </div>
</div>