@{
    ViewBag.Title = "xyfg";
}
@Scripts.Render("~/static/index/js/dynclicks.js")
<div class="bannerT">
    <div class="bannerT">
    	<img class="imgfull" src="~/static/index/images/bannerT.jpg"   alt="">
    </div>
</div>
<div class="box-main container mlra">
    <div class="page-centent text-left">
        <div class="menu-name pr">
            <div class="this-place txtleft">
                <p>当前位置: 
                            <a href="index-1.htm" >首页</a>
                    >>
                    <a href="xxgk.htm" >学校概况</a>
                    >>
                    <a href="xyfg.htm" >校园风光</a>
                </p>
            </div>
        </div>
    </div>
<script src="~/static/index/js/statpagedown.js" ></script>
    <div class="box-img-list">
        <ul class="oh">
             <li id="line_u6_0">
                <a href="28969.htm" >
                    <img class="imgfull" src="~/static/index/images/CBFAE64A2C7A68438D64CA1F87D_F1B14967_334C.jpg"  style="height:190px;">
                    <p>澄碧校区</p>
                </a>
            </li>
            <li id="line_u6_1">
                <a href="28965.htm" >
                    <img class="imgfull" src="~/static/index/images/AD3CD66A243E76F8DDAF4BC7426_86917708_4AB2.jpg"  style="height:190px;">
                    <p>校园风光-1</p>
                </a>
            </li>
            <li id="line_u6_2">
                <a href="28964.htm" >
                    <img class="imgfull" src="~/static/index/images/A8AFA52878F87A653FA81B9E40F_7EFC4FBA_5E56.jpg"  style="height:190px;">
                    <p>校园风光-2</p>
                </a>
            </li>
        </ul>
    </div>
<script>_showDynClickBatch(['dynclicks_u6_28969','dynclicks_u6_28965','dynclicks_u6_28964'],[28969,28965,28964],"wbnews", 1445304395)</script>
</div>
