@{
    ViewBag.Title = "组织结构";
}
<div class="bannerT">
    <div class="bannerT">
    	<img class="imgfull" src="~/static/index/images/bannerT.jpg"   alt="">
    </div>
</div>
<div class="box-main container mlra p0">
    <div class="classify text-left">
        <div class="menu-name clearfix pr none">
            <div class="this-place txtleft">
              <p>当前位置：首页&gt;新闻中心&gt;校园要闻</p>
            </div>
        </div>
    <div class="mod txtleft">
        <div class="mod-menu-name">
            <a onfocus="undefined">党群部门</a>
        </div>
            <div class="mod-list oh">
                <ul class="oh">
                    <li>
                        <a href="#"  title="党委办公室" target="_blank">党委办公室</a>
                    </li>
                </ul>
            </div>
        </div>
    <div class="mod txtleft">
        <div class="mod-menu-name">
            <a onfocus="undefined">行政部门</a> 
        </div>
    <div class="mod-list oh">
        <ul class="oh">
            <li>
                 <a href="#"  title="校长办公室" target="_blank">校长办公室</a>
            </li>
        </ul>
    </div>
    </div>
    <div class="mod txtleft">
        <div class="mod-menu-name">
            <a onfocus="undefined"">二级学院</a>
        </div>
            <div class="mod-list oh">
                <ul class="oh">
                    <li>
                        <a href="#"  title="政治与公共事务管理学院" target="_blank">政治与公共事务管理学院</a>
                    </li>
                </ul>
            </div>
    </div>
        <div class="mod txtleft">
            <div class="mod-menu-name">
                <a onfocus="undefined">直属单位</a>
            </div>
        <div class="mod-list oh">
            <ul class="oh">
                <li>
                    <a href="#"  title="图书馆" target="_blank">图书馆</a>
                </li>
            </ul>
        </div>
        </div>
    </div>
</div>
